<footer>
    <div id="developers">
        <div class="dev">
            <img alt="Dany" src="images/main_dev.jpg"/>
            <div class="devinfo">
                <u>Daniele Nicosia</u>
                <p>Project Developer</p>
                <p>Project Manager</p>
                <b>alwe.dev@gmail.com</b>
            </div>
        </div>
        <!--<div class="dev">
            <img alt="Nino" src="images/main_des.jpg"/>
            <div class="devinfo">
                <u>Antonino Noto</u>
                <p>UX Designer</p>
                <p>UI Designer</p>
                <b>ninonoto98@gmail.com</b>
            </div>
        </div>-->
    </div>
    <div class="right">
        <div id="copyright">
            <a href="https://goo.gl/maps/5eRAYdL1dynnLTvx8" target="_blank">Via Archirafi, 34, 90123 Palermo PA</a>
            <p>© Copyright 2022. Tutti i diritti riservati.</p>
        </div>
        <a href="http://cs.unipa.it/" target="_blank"><img id="uni" src="images/uni.png"/></a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="javascripts/ejs.min.js"></script>
<script src="javascripts/main.js"></script>